<div class="container">
  <div class="content">
    <div class="logo">
      <span class="logo-normal">snack</span>
      <span class="logo-highlight">S</span>
    </div>

    <h1>Coming soon...</h1>

    <app-landing-animation></app-landing-animation>


    <!--    <div class="countdown">-->
<!--      <div class="time">-->
<!--        <span class="number">00</span>-->
<!--        <span class="label">Días</span>-->
<!--      </div>-->
<!--      <div class="time">-->
<!--        <span class="number">00</span>-->
<!--        <span class="label">Horas</span>-->
<!--      </div>-->
<!--      <div class="time">-->
<!--        <span class="number">00</span>-->
<!--        <span class="label">Minutos</span>-->
<!--      </div>-->
<!--      <div class="time">-->
<!--        <span class="number">00</span>-->
<!--        <span class="label">Segundos</span>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
